<h1>Hello World</h1>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">

    <title>Wild Quizz</title>
</head>

<body>
    <header>

        <img class="sun" src="img/yellow_sun.svg" alt="sun">
        <img class="cloud2" src="img/cloud2.svg" alt="cloud" width="100px" height="100px">
        <img class "cloud1" src="img/cloud1.svg" alt="cloud" width="110px" height="110px">


    </header>

    <section class="container">
        <p class="p1"></p>
        <p class="p2"></p>
        <p class="p3"></p>

    </section>


    <footer>
        <div id="squirrel">
            <div class="tail"></div>
            <div class="body">
                <div class="ears eleft"></div>
                <div class="ears eright"></div>
                <div class="eye left"></div>
                <div class="eye right"></div>
                <div class="mouth"></div>
                <div class="foot fleft"></div>
                <div class="foot fright"></div>
            </div>
            <div class="food"></div>
        </div>
    </footer>



</body>

</html>
